Soal 1 

Lengkapilah code untuk menampilkan perulangan berikut sesuai dengan expected result yang diharapkan !

In [1]:
listSemangka = ['s','e','m','a','n','g','k','a']

for x in listSemangka:
  print(x)

s
e
m
a
n
g
k
a

Soal 2 

1. lengkapilah code perulangan untuk menampilkan expected result 
2. Ketentuan 
    - setiap ingin menampilkan kelipatan 5 ubah menjadi lima
    - setiap kelipatan 7 ubah menjadi tujuh'
    - jika bertemu 35 dan 70 ubah menjadi tiga lima dan tujuh puluh 
    - dan jika bertemu 100 ubah menjadi end

In [2]:
# lengkapi code berikut
 
x = 0
while x < 101:
  x += 1
  if x == 100:
    print('End')
    break 
  elif x == 70:
    print('Tujuh Puluh')
  elif x == 35:
    print('Tiga Lima')
  elif x%5 == 0:
    print('Lima')
  elif x%7 == 0:
    print('Tujuh') 
  elif x/x == 1:
    print(x)

1
2
3
4
Lima
6
Tujuh
8
9
Lima
11
12
13
Tujuh
Lima
16
17
18
19
Lima
Tujuh
22
23
24
Lima
26
27
Tujuh
29
Lima
31
32
33
34
Tiga Lima
36
37
38
39
Lima
41
Tujuh
43
44
Lima
46
47
48
Tujuh
Lima
51
52
53
54
Lima
Tujuh
57
58
59
Lima
61
62
Tujuh
64
Lima
66
67
68
69
Tujuh Puluh
71
72
73
74
Lima
76
Tujuh
78
79
Lima
81
82
83
Tujuh
Lima
86
87
88
89
Lima
Tujuh
92
93
94
Lima
96
97
Tujuh
99
End

soal 3 

Lengkapilah code untuk menampilkan hasil dari list sesuai dengan expected result yang diharapkan!

In [3]:
# name list
name_list = ["Bernice", "Aaron", "Cody"]


# lengkapi kode 

print('Here is the list in alphabetical order:')
print(name_list[1])
print(name_list[0])
print(name_list[2])

print('\n')
print('Here is the list in reverse alphabetical order:')
print(name_list[2])
print(name_list[0])
print(name_list[1])

print('\n')
print('Here is the list in its original order:')
for i in name_list:
  print(i)

Here is the list in alphabetical order:
Aaron
Bernice
Cody


Here is the list in reverse alphabetical order:
Cody
Bernice
Aaron


Here is the list in its original order:
Bernice
Aaron
Cody


soal 4

Program Kuota SKS, yaitu program yang dapat menentukan kuota SKS yang
diperoleh berdasarkan nilai IPK. Jika IPK besar dari 3.00 kuota SKS 24, jika IPK 2.50 sampai 2.99 kuota SKS 21, jika IPK 2.00 sampai 2.49 kuota SKS 18, jika IPK di bawah 2.00 kuota SKS 15.

In [16]:
x = float(input("Input nilai IPK:"))

if x >= 3.00 and x <= 4.00:
  print("Kamu memiliki kuota sebesar 24 SKS")
elif x >= 2.50 and x <= 2.99:
  print("Kamu memiliki kuota sebesar 21 SKS")
elif x >= 2.00 and x <= 2.49:
  print("Kamu memiliki kuota sebesar 18 SKS")
elif x < 2.00:
  print("Kamu memiliki kuota sebesar 15 SKS")
elif x > 4.00:
  print("IPK maksimal 4 hyung!")

Input nilai IPK:2.5
Kamu memiliki kuota sebesar 21 SKS

Soal 5 

Kerjakan dengan benar soal dictionary berikut. 

Dari hasil ouput brand yang ditampilkan adalah ford. tugas anda lakukan perubahan pada brand menjadi "honda" dengan menggunakan fungsi ubah atributnya. 
tidak mengubah nilai secara langsung pada dictionary awal

In [13]:
thisdict = {
    'brand' : 'ford',
    'model'  : 'mustang',
    'year'   : 1964
}

print('list original:', thisdict)
print("\n")

newdict = thisdict.copy()
print('list plagiat:', thisdict)
print("\n")


newdict["brand"] = "Honda"
print('list no plagiat:', newdict)

list original: {'brand': 'ford', 'model': 'mustang', 'year': 1964}


list plagiat: {'brand': 'ford', 'model': 'mustang', 'year': 1964}


list no plagiat: {'brand': 'Honda', 'model': 'mustang', 'year': 1964}